@import "custom";

html, .App, body {
  //background-color: black;
  //color: white;
}

.App {

  .App-header {
    text-align: center;

    .App-logo {
      height: 20vmax;
      pointer-events: none;
    }

    .navigation {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        padding: 1rem;
      }
    }
  }

  .body-container {
    @include make-container();
    padding-bottom: 100px;

    .body-row {
      @include make-row();
      justify-content: center;
      margin-left: 0;
      margin-right: 0;

      &:first-child {
        @include make-col-auto();
      }

      .email-form,
      .your-orders,
      .order-number {
        border-radius: 1rem;
        padding: 1rem;
        height: fit-content;
        width: fit-content;
        $box-shadow: 0 0 0.5rem #ccc;
        -moz-box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        max-width: 450px;
      }

      .email-form {

        .title {

        }

        .hint {
          margin-bottom: 1rem;
          font-style: italic;
        }

        .warning {
          color: red;
        }

        .user-input {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }

        .btn {
          width: 10rem;
          align-self: center;
        }

      }

      .your-orders {

        .title {
          margin-bottom: 1rem;
        }

        .order-button {
          min-width: 300px;
          margin-bottom: 1rem;
          $box-shadow: 0 0.25rem 0.5rem #ccc;
          -moz-box-shadow: $box-shadow;
          -webkit-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
          padding: 0.5rem;

          .order-button-row {
            @include make-row();
            justify-content: space-between;

            &:first-child {
              margin-bottom: 1rem;
            }

            .order-button-column {
              @include make-col(6);

              .heading {

              }

              .content {
                font-weight: bold;
              }

            }
          }

        }

      }

      .order-number {

        .order-number-row {
          @include make-row();
          margin-left: 0;
          margin-right: 0;

          .order-number-column {
            @include make-col(12);
            margin-bottom: 1rem;

            .heading.articles {
              margin-bottom: 0.5rem;
            }

            .content {
              font-weight: bold;
            }

            &.order-number-button {
              min-width: 300px;
              margin-bottom: 1rem;
              $box-shadow: 0 0.25rem 0.5rem #ccc;
              -moz-box-shadow: $box-shadow;
              -webkit-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
              padding: 1rem;
              border-radius: 0.5rem;
            }

          }

          &.product {

            .order-number-column {
              padding: 0.25rem;

              &.quantity {
                @include make-col(2);
                align-self: center;
                text-align: center;
              }

              &.image {
                @include make-col(3);

                img {
                  height: 100%;
                  width: 100%;
                }

              }

              &.details {
                @include make-col(7);

                .product-name {
                  font-weight: bold;
                }

                .serial-number {

                }

              }
            }

          }

        }
      }

    }

  }

}


